h1 {
    text-align: center;
}



    p
       {
        color: blue;
        
        text-shadow: 3px 2px red;
        text-align: center;
            font-size: 250%;

        font-family: "Kravitz", Times, serif;
     }

    p
       {
        color: blue;
        
        text-shadow: 3px 2px red;
        text-align: center;
            font-size: 250%;

        font-family: "Kravitz", Times, serif;
     }

box
     {
     
      border: 40px solid yellow ;
      padding: 30px;
     }
body 
{
     
    border-radius: 80%;

    background-image: url("yellow-labrador-puppy-garden.jpg");
} 
.body2 
{
     
    border-radius: 80%;

    background-image: url("multi pups.jpg");
} 
.body3 
{
     
    border-radius: 80%;

    background-image: url("adult labs.jpg");
} 
.body4 
{
     
    border-radius: 80%;

    background-image: url("misc.jpg");
} 

     ln
     {
          color: Coral;
        
        text-shadow: 3px 2px BurlyWood;
        text-align: left;
            font-size: 200%;

        font-family: "Kravitz", Times, serif;
     }
     ln2
     {
          color: Chocolate;
        
        text-shadow: 3px 2px CornflowerBlue;
        text-align: left;
        font-size: 150%;

        font-family: "Kravitz", Times, serif;
     }

